.first-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 1000px;
  margin-top: 60px;
  column-gap: 40px;

}

.background-grid {
  background-color: #020617;
  /* The Grid Pattern */
  background-image:
    linear-gradient(to right, rgba(16, 33, 82, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(30, 58, 138, 0.5) 1px, transparent 1px);
  
  /* This controls how big the squares are */
  background-size: 30px 60px; 
  
  /* Center your content */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.imagesone {
  width: 1fr;
  height: auto;
}